@import "../styles/colors.scss";
* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;  //sem essa prop, uma div de width 100px, com padding 10px, ficaria com width 120px
 }

 body {
  background-color: $background; 
 }

 //especificando quais tipos de inputs terão esse estilo global
 input[type="password"],
 input[type="email"] {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  padding: 0px 40px 0px 8px;

  &:focus {
    outline-color: $primaryLight;
  }
 }

 button {
  background-color: $primary;
  line-height: 60px;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border:none;

  &:hover {
    opacity: 0.9;
  }
 }

